@use "./abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html:focus-within {
  scroll-behavior: smooth;
}

body, html {
  font-family: $ff-primary;
  background-color: $cl-background;
}

h1 {
  color: $cl-red;
  font-size: $fs-primary;
  font-weight: $fw-primary;
}

